{{ ansible_managed | comment }}
OPTIONS="--collector.textfile.directory /var/lib/node_exporter/textfile_collector --collector.disable-defaults --collector.os --collector.uname --collector.cpu --collector.loadavg --collector.meminfo --collector.diskstats --collector.filesystem --collector.netdev --collector.ethtool --collector.vmstat"
